@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 280px;
  font-family: "Lato", sans-serif;
}

.title {
  margin: 1rem 0;
  text-align: center;
}

.filter,
.sort {
  margin: 1rem 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.filter__select,
.sort__select {
  margin-left: 0.4rem;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  font-size: 1.1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 0 1rem;
}

.card {
  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid lightgrey;
}

.card--grey {
  background-color: rgb(235, 235, 235);
}

.card:hover {
  background-color: rgb(203, 241, 203);
}

.card__index {
  float: left;
  padding: 0 0.2rem;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  color: rgb(45, 45, 45);
  font-size: 0.9rem;
}

.card__name {
  padding: 0 0.2rem;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

.card__vaccines-administered {
  display: inline-block;
  padding: 0.15rem 0.3rem;
  margin-bottom: 0.25rem;
  border-radius: 10px;
  background-color: rgb(203, 241, 203);
  font-size: 0.8rem;
  font-weight: bold;
}

.card__partially-vaccinated,
.card__fully-vaccinated {
  padding: 0.15rem 0.3rem;
  border-radius: 10px;
  margin-left: 0.5rem;
  color: rgb(45, 45, 45);
  font-size: 0.75rem;
}

@media (min-width: 700px) {
  .filter,
  .sort {
    padding: 0 5rem;
    text-align: left;
  }

  .cards-container {
    padding: 0 5rem;
  }

  .card__index {
    margin-top: 0.1rem;
  }

  .card__name {
    font-size: 1rem;
  }
}
