* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin: 1rem 0;
  text-align: center;
}

.filter {
  margin: 1rem 0.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.filter__select {
  margin-left: 0.4rem;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 0 1rem;
}

.card {
  padding: 0.5rem;
  border-bottom: 1px solid lightgrey;
}

.card:hover {
  background-color: rgb(206, 245, 233);
}

.card__name {
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

.card__partially-vaccinated {
  font-size: 0.8rem;
  font-weight: normal;
}

.card__fully-vaccinated {
  font-size: 0.8rem;
  font-weight: normal;
}

@media (min-width: 500px) {
  .filter {
    text-align: left;
  }
}
